* {
 margin: 0;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 background-image: url(../../assets/images/background/dog.webp);
 background-position: center;
 background-size: cover;
 height: 100vh;
}

.header {
 display: flex;
 justify-content: space-between;
 align-items: center;

 padding: 8px 16px;

 font-size: 20px;
}

.logo {
 display: flex;
 justify-content: center;
 align-items: center;

 width: 56px;
 height: 56px;

 border-radius: 10px;

 background-color: #ffffff;
}

.navigation {
 display: flex;
 flex-direction: row;
 gap: 20px;

 list-style: none;

 li {
  padding: 4px 12px;
  background-color: #ffffff;

  border-radius: 10px;

  a {
   color: #976a00;
   text-decoration: none;
  }
 }
}

.welcome {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 10px;

 padding: 10px;

 border-radius: 10px;

 background-color: #ffffff;

 h1 {
  text-align: center;
  font-size: 68px;
  color: #976a00;
  text-decoration: underline;
 }

 p {
  font-size: 18px;
  color: #976a00;
  text-align: justify;
 }

 button {
  font-size: 18px;
  color: #976a00;
  padding: 8px 16px;

  border: none;
  border-radius: 10px;
 }
}

.icons {
 display: flex;
 align-items: end;
 flex-direction: column;
 gap: 4px;

 padding: 20px;
}

.social-container {
 padding: 20px;
 position: relative;
 display: inline-block;
}

.social-toggle {
 position: absolute;
 opacity: 0;
 width: 0;
 height: 0;
}

.main-icon{
 width: 40px;
 height: 40px;
 background-color: #555;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 transition: transform 0.3s;
}

.main-icon:hover {
 transform: scale(1.1);
}

.main-icon::before {
 content: "+";
 color: white;
 font-size: 24px;
 font-weight: bold;
 transition: all 0.5s;
}

.social-toggle:checked + .main-icon::before {
 content: "x";
 font-size: 24px;
 transition: all 0.5s;
}

.social-icons {
 position: absolute;
 bottom: 60px;
 left: 40px;
 transform: translateX(-50%);
 display: flex;
 flex-direction: column;
 gap: 10px;
 padding: 10px;
 background-color: white;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 margin-bottom: 10px;

 opacity: 0;
 visibility: hidden;
 transition: all 0.3s ease-out; 
}

.social-toggle:checked ~ .social-icons {
 opacity: 1;
 visibility: visible;
 transform: translateX(-50%) translateY(0);
}

.social-icon {
 width: 30px;
 height: 30px;
 cursor: pointer;
 transition: transform 0.2s;
}

.social-icon:hover {
 transform: scale(1.2);
}


.svg-icon {
 width: 50px;
 height: 50px;
}

.catalogue {
 padding: 40px 60px;
 background-image: url(../../assets/images/background/backgr2.png);
}
 
.catalogue-text {
 display: flex;
 align-items: center;
 gap: 16px;
 color: #ffffff;

 h1 {
  font-size: 68px;
 }

 p {
  font-size: 18px;
  width: 400px;
  text-align: justify;
 }
}

.slider {
 overflow: hidden;
 gap: 0;
}
